@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this for test.</p>
<<<<<<< HEAD
<p>Use this Second test.</p>
=======
<p>Use this for Second test.</p>
>>>>>>> 9cbda83b4b8e2f66275f9b16deac038f9ed5f02e
